.mediaSlideShow {
	float: right;
	width: 80%;
}
.mediaVideos{
	clear:both;
}
.main{
	
	clear:both;
}
h3{
	text-align: center;
}
.inGamePictures{
	margin-right:15em;
}
p{
	text-align: center;
}
.inGameSlideShow{
	height: 25em;
	width: 62.5em;
}