body{
	background-color: black;
	color:white;
}
div.banner {
	float :left;
	height: 6.25em;
	width: 100%;
	position:relative;
}

div.homeWrapper {
	float: left;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  position: relative;
  font-size: 3em;
}


ul {
    list-style-type: none;
    width: 12.5em;
    background-color: black;
}

li a {
    display: block;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}

li a:hover {
    background-color: red;
    color: white;
}